body {
	display:block;
	margin:-15px;
	padding:0px;
	color:#444444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:20px; 
	background-color:#191970; 
	background-image:url(../gif/fon.gif);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100%;
}

body:focus {
    outline: none;
}

p {
    text-indent: 20px;
}

.p1 {
    text-indent: 20px;
	font-size: 20px;
	padding-top: 20px;
	font-family: calibri;
}
.p2 {
	font-size: 13px;
	padding-top: 0px;
	font-family: calibri;
}

h1 { font-size:20px; margin-bottom: 20px; }
h2 { font-size:28px; margin-bottom: 20px; }
h3 { font-size:20px; margin-bottom: 20px; }
h4 { font-size:16px; margin-bottom: 10px; font-weight:100 }
h5 { font-size:23px; margin-bottom: 20px; text-align:center;}

/*for slider*/
#mainslider{
	  border-bottom: 3px solid black;
	  border-top: 3px solid black;
}

#main {
	padding: 30px 10px 0
}




/*seeing*/
#menu { 
	float: right; 
	margin-top: 15px; 
}


.col { 
	float: left; 
	margin: 0 30px 30px 0; 
}


.half { width: 455px }
#sidebar, .col13 { width: 280px }
#content, .col23 { width: 620px }
.padding_right { padding-right: 20px }
.col14 { width: 205px }
.no_margin_right { margin-right: 0 }
.last_box { margin-bottom: 0; background: none }
.pagging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.pagging ul li a { 
	float: left; 
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background: #fff; 
	border: 1px solid #eee; 
}

.pagging ul li a:hover { 
	background: #f3b2bd; 
	border: 1px solid #eee; 
	color: #fff;  
}

.cleaner { 
	clear: both; 
	display: block; 
}

.h40 { height: 40px }

/* title */
 #nav {
	padding: 20px 0 0;
}
#nav1 {
	position: relative;
	margin: 0 auto;
	width: 960px;
	padding: 10px 10px;
	background:url(../images/templatemo_wrapper_m.png) repeat-y center;
}

#navtop {
	position: absolute;
	top: -5px;
	left: 0;
	max-width: 1000px;
	margin: 0 auto;
	height: 5px;
	background: url(../images/templatemo_wrapper_t.png)
	
}

#header {
	width: 940px;
	max-width: 150%;
	height: 51px;
	padding: 25px 10px;
	margin-bottom: 10px;
	background: url(../images/templatemo_header_bg.jpg);
	border: 1px solid blue;
}
#site_title { 
	float: left; 
}

#site_title a { 
	display: block; 
	font-size: 12px; 
	font-family: Georgia, "Times New Roman", Times, serif; 
	width: 350px; 
	height: 55px; 
	color: #acacac; 
	text-indent: -10000px; 
	background: url(../design/logo1.png) no-repeat center left; 
}
/*ddslide*/
.ddsmoothmenu{
}

.ddsmoothmenu ul{
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

.ddsmoothmenu ul li a {
	display: block;
	height: 30px;
	width: 80px;
	margin-left: 5px;
	line-height: 30px;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #333;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
}

* html .ddsmoothmenu ul li a{ 
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { 
	color: #fff;
	background: url(../images/templatemo_menu_hover.png)
}


.ddsmoothmenu ul li ul {
	position: absolute;
	width: 178px;
	padding: 0 2px;	
	margin: 10px 0 0 5px;
	display: none; 
	visibility: hidden;
	background: url(../images/templatemo_smm.png) repeat-y;
}
.ddsmoothmenu ul li ul span {
	position: absolute;
	width: 182px;
	height: 5px;
}
.ddsmoothmenu ul li ul span.top {
	top: -5px;
	left: 0;
	background: url(../images/templatemo_smt.png)
}
.ddsmoothmenu ul li ul span.bottom {
	bottom: -5px;
	left: 0;
	background: url(../images/templatemo_smb.png)
}


.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}


.ddsmoothmenu ul li ul li ul{
top: 0;
}


.ddsmoothmenu ul li ul li a{
	font-weight: 500;
	width: 138px; 
	height: 35px;
	padding: 0 20px;
	margin: 0;
	line-height: 35px;
	font-size: 12px;
	text-align: left;
	background: none;
	color: #666;
}

.ddsmoothmenu ul li ul li .last {
	border-bottom: none;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #333;
	background: url(../images/templatemo_smhover.png) no-repeat
}


* html .ddsmoothmenu{height: 1%;} 
.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}



.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}

.toplevelshadow{ 
opacity: 0.5;
}





#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(../images/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(../images/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(../images/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../images/closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}



.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}

.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}

.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}

.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; 
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}

.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}

.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.nivo-controlNav {
	position:absolute;
	right: -17px;
	bottom: 10px;
	width: 98px;
	height: 17px;
	padding: 9px 20px;
	z-index: 1000;
	background: url(../images/templatemo_slider_nbg.png)
}

.nivo-controlNav a {
	display:block;
	width:10px;
	height:10px;
	background: url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right: 8px;
	float:left;
}

.nivo-controlNav a.active {
	background-position:0 -10px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}

a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}

a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
	padding: 15px 0;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}


/*slider*/
#slider {
	position:relative;
    width: 960px;
    height: 340px;
	background:url(../images/loading.gif) no-repeat 50% 50%;
}

#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

#slider a {
	border:0;
	display:block;
}




#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}



.tmo_ul_list { 
	margin: 10px 0 10px 15px; 
	padding: 0; 
	list-style: none; 
}

.tmo_ul_list li { 
	color:#666; 
	margin: 0 0 7px 0; 
	padding: 2px 0 2px 30px; 
	background: url(../images/templatemo_list.png) no-repeat scroll 0 3px;  
}


.sad-link {
  position: relative;
  display: inline-block;
  color: #444;
}
.sad-link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -0.15em;
  left: -.15em;
  width: calc(100% + .3em);
  height: 0.15em;
  background: #4682B4;
  transition: all .2s;
}
.sad-link:hover:after {
  height: calc(100% + 0.3em);
}

.happy-link {
  line-height: 1.15;
  transition: background-position 0.15s linear 0.1s, box-shadow 0.15s linear 0s;
  background-image: linear-gradient(to bottom, #87CEFA 0%, #87CEFA 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 1em;
  color: #444;
  overflow: hidden;
}
.happy-link:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, #87CEFA 0%, #87CEFA 100%);
  background-position: 0 0em;
  box-shadow: 0.2em 0 0 #483D8B, -0.2em 0 0 #483D8B;
  transition: background-position 0.1s linear 0s, box-shadow 0.1s linear 0.1s;
}








.sign {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
.sign__word {
  font-size: 30px;
  text-align: left;
  line-height: 1;
  color: #00008B;
  -webkit-animation: neon .08s ease-in-out infinite alternate;
          animation: neon .08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}





.center {
  text-align: left;
  padding: 0px;
}
.container {
  position: relative;
  display: inline-block;
  padding: 0px;
  font-size: 30px;
}
.container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #1E90FF;
  z-index: -2;
  content: '';
}
.container:hover::before {
  animation: bg-animation 0.6s 1;
  animation-fill-mode: forwards;
}

@keyframes bg-animation {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}




.audioplayer
		{
			height: 2.5em; /* 40 */
			color: #fff;
			text-shadow: 1px 1px 0 #000;
			border: 1px solid #222;
			position: relative;
			z-index: 1;
			background: #333;
		}


			/* mini mode (fallback) */

			.audioplayer-mini
			{
				width: 2.5em; /* 40 */
				margin: 0 auto;
			}


			/* player elements: play/pause and volume buttons, played/duration timers, progress bar of loaded/played */

			.audioplayer > div
			{
				position: absolute;
			}


			/* play/pause button */

			.audioplayer-playpause
			{
				width: 2.5em; /* 40 */
				height: 100%;
				text-align: left;
				text-indent: -9999px;
				cursor: pointer;
				z-index: 2;
				top: 0;
				left: 0;
			}
				.audioplayer:not(.audioplayer-mini) .audioplayer-playpause
				{
					border-right: 1px solid #555;
					border-right-color: rgba( 255, 255, 255, .1 );
				}
				.audioplayer-mini .audioplayer-playpause
				{
					width: 100%;
				}
				.audioplayer-playpause:hover,
				.audioplayer-playpause:focus
				{
					background-color: #222;
				}
				.audioplayer-playpause a
				{
					display: block;
				}
				.audioplayer-stopped .audioplayer-playpause a
				{
					width: 0;
					height: 0;
					border: 0.5em solid transparent; /* 8 */
					border-right: none;
					border-left-color: #fff;
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -0.5em 0 0 -0.25em; /* 8 4 */
				}
				.audioplayer-playing .audioplayer-playpause a
				{
					width: 0.75em; /* 12 */
					height: 0.75em; /* 12 */
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -0.375em 0 0 -0.375em; /* 6 */
				}
					.audioplayer-playing .audioplayer-playpause a:before,
					.audioplayer-playing .audioplayer-playpause a:after
					{
						width: 40%;
						height: 100%;
						background-color: #fff;
						content: '';
						position: absolute;
						top: 0;
					}
					.audioplayer-playing .audioplayer-playpause a:before
					{
						left: 0;
					}
					.audioplayer-playing .audioplayer-playpause a:after
					{
						right: 0;
					}


			/* timers */

			.audioplayer-time
			{
				width: 4.375em; /* 70 */
				height: 100%;
				line-height: 2.375em; /* 38 */
				text-align: center;
				z-index: 2;
				top: 0;
			}
				.audioplayer-time-current
				{
					border-left: 1px solid #111;
					border-left-color: rgba( 0, 0, 0, .25 );
					left: 2.5em; /* 40 */
				}
				.audioplayer-time-duration
				{
					border-right: 1px solid #555;
					border-right-color: rgba( 255, 255, 255, .1 );
					right: 2.5em; /* 40 */
				}
					.audioplayer-novolume .audioplayer-time-duration
					{
						border-right: 0;
						right: 0;
					}


			/* progress bar of loaded/played */

			.audioplayer-bar
			{
				height: 0.875em; /* 14 */
				background-color: #222;
				cursor: pointer;
				z-index: 1;
				top: 50%;
				right: 6.875em; /* 110 */
				left: 6.875em; /* 110 */
				margin-top: -0.438em; /* 7 */
			}
				.audioplayer-novolume .audioplayer-bar
				{
					right: 4.375em; /* 70 */
				}
				.audioplayer-bar div
				{
					width: 0;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
				}
				.audioplayer-bar-loaded
				{
					background-color: #333;
					z-index: 1;
				}
				.audioplayer-bar-played
				{
					background: #007fd1;
					z-index: 2;
				}


			/* volume button */

			.audioplayer-volume
			{
				width: 2.5em; /* 40 */
				height: 100%;
				border-left: 1px solid #111;
				border-left-color: rgba( 0, 0, 0, .25 );
				text-align: left;
				text-indent: -9999px;
				cursor: pointer;
				z-index: 2;
				top: 0;
				right: 0;
			}
				.audioplayer-volume:hover,
				.audioplayer-volume:focus
				{
					background-color: #222;
				}
				.audioplayer-volume-button
				{
					width: 100%;
					height: 100%;
				}
					.audioplayer-volume-button a
					{
						width: 0.313em; /* 5 */
						height: 0.375em; /* 6 */
						background-color: #fff;
						display: block;
						position: relative;
						z-index: 1;
						top: 40%;
						left: 35%;
					}
						.audioplayer-volume-button a:before,
						.audioplayer-volume-button a:after
						{
							content: '';
							position: absolute;
						}
						.audioplayer-volume-button a:before
						{
							width: 0;
							height: 0;
							border: 0.5em solid transparent; /* 8 */
							border-left: none;
							border-right-color: #fff;
							z-index: 2;
							top: 50%;
							right: -0.25em;
							margin-top: -0.5em; /* 8 */
						}
						.audioplayer:not(.audioplayer-muted) .audioplayer-volume-button a:after
						{
							/* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
							width: 0.313em; /* 5 */
							height: 0.313em; /* 5 */
							border: 0.25em double #fff; /* 4 */
							border-width: 0.25em 0.25em 0 0; /* 4 */
							left: 0.563em; /* 9 */
							top: -0.063em; /* 1 */
							-webkit-border-radius: 0 0.938em 0 0; /* 15 */
							-moz-border-radius: 0 0.938em 0 0; /* 15 */
							border-radius: 0 0.938em 0 0; /* 15 */
							-webkit-transform: rotate( 45deg );
							-moz-transform: rotate( 45deg );
							-ms-transform: rotate( 45deg );
							-o-transform: rotate( 45deg );
							transform: rotate( 45deg );
						}


				/* volume dropdown */

				.audioplayer-volume-adjust
				{
					height: 6.25em; /* 100 */
					cursor: default;
					position: absolute;
					left: 0;
					right: -1px;
					top: -9999px;
					background: #333;
				}
					.audioplayer-volume:not(:hover) .audioplayer-volume-adjust
					{
						opacity: 0;
					}
					.audioplayer-volume:hover .audioplayer-volume-adjust
					{
						top: auto;
						bottom: 100%;
					}
					.audioplayer-volume-adjust > div
					{
						width: 40%;
						height: 80%;
						background-color: #222;
						cursor: pointer;
						position: relative;
						z-index: 1;
						margin: 30% auto 0;
					}
						.audioplayer-volume-adjust div div
						{
							width: 100%;
							height: 100%;
							position: absolute;
							bottom: 0;
							left: 0;
							background: #007fd1;
						}
				.audioplayer-novolume .audioplayer-volume
				{
					display: none;
				}


			/* CSS3 decorations */

			body
			{
				-webkit-box-shadow: inset 0 0 18.75em rgba( 0, 0, 0, .5 ); /* 300 */
				-moz-box-shadow: inset 0 0 18.75em rgba( 0, 0, 0, 5 ); /* 300 */
				box-shadow: inset 0 0 18.75em rgba( 0, 0, 0, .5 ); /* 300 */
			}
			.audioplayer
			{
				-webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
				-moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
				box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
			}
			.audioplayer-volume-adjust
			{
				-webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
				-moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
				box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
			}
			.audioplayer-bar,
			.audioplayer-volume-adjust > div
			{
				-webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
				-moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
				box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
			}
			.audioplayer-volume-adjust div div,
			.audioplayer-bar-played
			{
				-webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
				-moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
				box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
			}
			.audioplayer-playpause,
			.audioplayer-volume a
			{
				-webkit-filter: drop-shadow( 1px 1px 0 #000 );
				-moz-filter: drop-shadow( 1px 1px 0 #000 );
				-ms-filter: drop-shadow( 1px 1px 0 #000 );
				-o-filter: drop-shadow( 1px 1px 0 #000 );
				filter: drop-shadow( 1px 1px 0 #000 );
			}
			.audioplayer,
			.audioplayer-volume-adjust
			{
				background: -webkit-gradient( linear, left top, left bottom, from( #444 ), to( #222 ) );
				background: -webkit-linear-gradient( top, #444, #222 );
				background: -moz-linear-gradient( top, #444, #222 );
				background: -ms-radial-gradient( top, #444, #222 );
				background: -o-linear-gradient( top, #444, #222 );
				background: linear-gradient( to bottom, #444, #222 );
			}
			.audioplayer-bar-played
			{
				background: -webkit-gradient( linear, left top, right top, from( #007fd1 ), to( #c600ff ) );
				background: -webkit-linear-gradient( left, #007fd1, #c600ff );
				background: -moz-linear-gradient( left, #007fd1, #c600ff );
				background: -ms-radial-gradient( left, #007fd1, #c600ff );
				background: -o-linear-gradient( left, #007fd1, #c600ff );
				background: linear-gradient( to right, #007fd1, #c600ff );
			}
			.audioplayer-volume-adjust div div
			{
				background: -webkit-gradient( linear, left bottom, left top, from( #007fd1 ), to( #c600ff ) );
				background: -webkit-linear-gradient( bottom, #007fd1, #c600ff );
				background: -moz-linear-gradient( bottom, #007fd1, #c600ff );
				background: -ms-radial-gradient( bottom, #007fd1, #c600ff );
				background: -o-linear-gradient( bottom, #007fd1, #c600ff );
				background: linear-gradient( to top, #007fd1, #c600ff );
			}
			.audioplayer-bar,
			.audioplayer-bar div,
			.audioplayer-volume-adjust div
			{
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
			}
			.audioplayer
			{
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
			}
			.audioplayer-volume-adjust
			{
				-webkit-border-top-left-radius: 2px;
				-webkit-border-top-right-radius: 2px;
				-moz-border-radius-topleft: 2px;
				-moz-border-radius-topright: 2px;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
			}
			.audioplayer *,
			.audioplayer *:before,
			.audioplayer *:after
			{
				-webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
				-moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
				-ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
				-o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
				transition: color .25s ease, background-color .25s ease, opacity .5s ease;
			}
			
			
			
			
			
.imgimg { float: left; margin: 3px 15px 5px 0; width: 250px; height: 200px; background: #191970; padding: 2px; border: 2px solid #483D8B; }
#pilot {padding: 0; list-style: none;}


#pilot li { 
	display: inline; 
	float: none; 
	width: 450px; 
	padding-left: 25px;
	padding-right: 25px;
}
	
.imgimg2 { width: 250px; height: 200px; background: #191970; padding: 2px; border: 2px solid #483D8B; }











.mosaicflow__item {
	 position:relative;
     margin-top: 20px; 
     margin-bottom: 20px; 
	 border-top:3px solid #000000;
     border-bottom:3px solid #000000;
	}

	.mosaicflow__item p {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		margin:0;
		padding:0px;
		background:hsla(0,0%,0%,.5);
		color:#fff;
		font-size:14px;
		text-shadow:1px 1px 1px hsla(0,0%,0%,.75);
		opacity:0;
		-webkit-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
		   -moz-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
		     -o-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
		        transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
		}
	.mosaicflow__item:hover p {
		opacity:1;
		}
	#glry {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"Helvetica Neue", Arial, sans-serif;
	}


.hcontact {
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
}


.info {
	font-size: 15px;
	padding-top: 5px;
	font-family: calibri;
}